<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-2 float-left p-0">
        <h3>Producto</h3>
        <hr>
        <span>{{ data.price }}</span>
        <mat-label>Precio</mat-label>
        <hr>
        <span>{{ data.price }}</span>
        <mat-label>Stock</mat-label>
    </div>
    <div class="col-md-10 p-3">
      <div>
        <h2 mat-dialog-title>{{ data.title }}</h2>
        <div mat-dialog-content>
          <div class="card">
            <mat-label>Descripción :</mat-label>
            {{ data.description }}
          </div>
          <div class="card">
            <mat-label>Categoría :</mat-label>
            {{ data.category }}
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Favorite Animal</mat-label>
          </mat-form-field>
        </div>
        <div mat-dialog-actions>
          <button mat-raised-button (click)="onNoClick()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
